body {
    font-family: Arial, sans-serif;
    color: brown;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('gettyimages-157196455-612x612.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
  }

  #content {
    background-color: rgba(233, 226, 226, 0.877);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }

  #feedback {
    margin-top: 10px;
    font-size: 18px;
  }

  input[type="text"],
  button {
    font-style: italic;
    font-size: 18px; /*la taille de texte*/
    padding: 5px 10px;
    margin-right: 10px;
  }